.followers-userName-profileImage--container {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: yellow;
}

.profileImageID {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.usernameFollowers--container {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0 0 0px 8px;
}

.userName {
    font-weight: 600;
}