
.followers-userName-profileImage--container {
    width: 100%;
    display: flex;
 
    align-items: center;
    background-color: yellow;
}

.profileImageID {
    height: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.usernameFollowers--container{
    display: flex;
    flex-direction: column;
    margin: 0 0 0px 8px;
   
}

.userName {
    font-size: 16px;
    font-weight: 600;
}
