.main {
    width: 100%;
    height: max-content;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    margin: 81px 0 0 0 ;
    background-color:transparent;
   
}

.component-form {
    width: 60%;
    height: max-content;
    display: flex;
    justify-content:space-between;
    align-items:center;

    display: flex;
    flex-direction: column;
    background-color: white;

}

.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.imputUpload-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
    background-color: rgba(238, 238, 238, 1);
    margin: 0 0px 0 0;
}

.imputUpload {
    width: max-content;
    height: 100px;
    background-color:none;
    margin: 0 16px 0 0;
    
}

.TitleContent {
    width: 60%;
    height: 30vw;
    background-color: transparent;

    
}



.imputTitle-container {
    background-color: transparent;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid grey;
    margin: 50px 0 16px 0;

}

.imputTitle {
    background-color: transparent;
    width: 97%;
    height: 98%;
    border: none;
    color: black;
    font-size: 45px;
    outline: none;
    margin: 0px 0 0 8px;
}


.imputTitle::placeholder {
 font-size: 45px;
 font-weight: 700;
}

.imputTitle::placeholder:active {
    color: rgb(184, 33, 33);
}

.inputContent-container {
    background-color: transparent;
    width: 100%;
    height: 30%;
    border-bottom: none;
    margin: 25px 0 25px 0;
    display: flex;
}

.inputContent {
    
    background-color: transparent;
    width: 100%;
    min-height: 50px;
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
    margin: 0px 0 0 0px;
  
}

.inputContent::placeholder {
    margin: 15px 0 0 8px;
    font-size: 18px;
    position: absolute;
}


.inputContent::placeholder:focus {
    color: rgb(170, 170, 170);

}

.inputLink-container {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 10%;
   
    margin: 0px 0 16px 0;
}

.more-publish--btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-button, .publish-button {
    width: 100px;
    height: 45px;
    font-size: white;
    background-color: rgba(240, 229, 229);
    border-radius: 5px;
    padding: 0 8px;
    outline: none;
    border: none;
    margin: 8px;
}

.more-button:hover, .publish-button:hover {
    background-color: rgb(183, 208, 255, 0.5);
    border: 3px solid rgb(53, 117, 253);
}

.more-button:focus, .publish-button:focus {
    background-color: rgba(228, 228, 228, 1);

}


