
@font-face {
    font-family: "Montserrat Regular";
    src: url("../../../fonts/Montserrat/Montserrat-Regular.ttf") format(truetype);
}



.main {
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    background-color:transparent;

   box-sizing: border-box;
   overflow: hidden;
}

.tools {
    width: 250px;
    height: 30vw;
    background-color: transparent;
    margin: 25px 0 0 0 ;
    background-color:green;
}

.component-form {
    width: 60%;
    height: 100%;
    

    justify-content:center;
    align-items:center;

    display: flex;
    flex-direction: inline-block;
    background-color: fuchsia;
 
    position: fixed;
    margin: 0px 0 0 0;

    overflow: hidden;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
padding: 0;

}

.form-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: inline-flex;
    
    padding: 0;
    background-color: indigo;
 
}

.imputUpload-container {
    width: 130px;
    display: flex;
    flex-direction: inline-block;
    justify-content: center;
    align-items: center;

    height: 300px;
    background-color: rgb(255, 217, 217);
    margin:  0 0 0 8px;
   
}

.inputLabelStyleImg {
    width: 35px;
    height: 35px;
    background-color: tomato;
    cursor: pointer;
}

.imputUpload {
    display: none;
   
    background-color:yellow;
    margin: 0 0px 0 0;
    
}



.dragAndDropInfo {
    font-size: 11px;
    text-align: center;
    color: rgb(26, 23, 23);
  
}

.recommendationInfo {
    text-align: center;
    color: rgb(26, 23, 23);
}

.TitleContent {
    width: 60%;
    height: 30vw;
    background-color: transparent;
    padding: 20px;

    
}



.imputTitle-container {
    background-color: transparent;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid grey;
    margin: 50px 0 16px 0;

}

.imputTitle {
    background-color: transparent;
    width: 97%;
    height: 98%;
    border: none;
    color: black;
    font-size: 45px;
    outline: none;
    margin: 0px 0 0 8px;
    font-family: Opens;
}


.imputTitle::placeholder {
 font-size: 45px;
 font-weight: 700;
}

.imputTitle::placeholder:active {
    color: rgb(184, 33, 33);
}

.inputContent-container {
    background-color: transparent;
    width: 100%;
    height: 30%;
    border-bottom: none;
    margin: 25px 0 25px 0;
    display: flex;
}

.inputContent {
    background-color: transparent;
    width: 100%;
    min-height: 50px;
    border: none;
    color: black;
    font-size: 16px;
    outline: none;
    margin: 0px 0 0 0px;
    
}

.inputContent::placeholder {

    font-size: 16px;
  
    color: rgb(85, 85, 85);
}


.inputContent::placeholder:focus {
    color: rgb(170, 170, 170);

}

.inputLink-container {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 10%;
   
    margin: 0px 0 16px 0;
}

.uploads-publish--group {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
  
    margin: 40px 0 16px 0;
    
}

.line {
    border-bottom: 1px solid #eeeeee;
}

.uploadCards {
    display: flex;
}

.pic--container {
    width: 45px;
    height: 70px;
    border-radius: 5px;
    background-color: blue;
    margin: 0 0 0 8px;
    overflow: hidden;

}

.stylizedLblIptDiscardImg {
    width: 45px;
    height: 70px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7) ;
    margin: 0 0 0 -45px;
    display: flex;
    justify-content: center;
    align-items: center; 

}


.discardImage {
    display: none;
}


.more-button, .publish-button {
    width: 100px;
    height: 40px;
  
    background-color: rgb(66, 58, 58);
    border-radius: 5px;
    padding: 0 8px;
    outline: none;
    border: none;
    margin: 8px;
}

.more-button:hover, .publish-button:hover {
    background-color: rgb(183, 208, 255, 0.5);
    border: 3px solid rgb(53, 117, 253);
}

.more-button:focus, .publish-button:focus {
    background-color: rgba(228, 228, 228, 1);

}


.publicPost {
    padding: 0 8px;
    height: 40px;
    background-color: rgb(97, 71, 71);
  font-family: "Montserrat Regular";
   border-radius: 9px;
   border: none;

   font-size: 16px;
   color: white;
   font-weight: 600;



   
}
.btnsPost-container {
    background-color: hotpink;
}