.GridFeed {
    width: 100%;  
    display: flex;
    justify-content: center;
    position: relative;
    margin: 81px 0 0 0;

}

.add-post-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 5px 10px grey;
    position: absolute;
    align-self: flex-end;
    z-index: 10000;
    background-color: white;
    margin-top: none;
    
}