.App {
  text-align: center;
}

body {
  margin: 0px 0;
}

.GOAPP {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/


@media ( max-width: 600px ) {
    .GOAPP {
      display: flex;
    }
}